
<table border="1">
	<tr>
		<th>Card</th>

		<th>TCG Mid</th>
		<th>Card Kingdom</th>
		<th>Spread</th>
		
	</tr>
<% @cardHash.each do |k,v| 

%>
	<tr>
		
		<td><%=v["name"] + ' (' + v["set"] + ')'%></td>
		<td><%=v["price"]%></td>
		
		<td><%=v["ckPrice"]%></td>
		
		<td><%= v["spread"] %></td>
		
	</tr>
	<%#get_ck_prices(card)%>
	<%#@results[0]%>




<% end %>
</table>

