
<table border="1">
	<tr>
		<th>Card</th>

		<th>TCG Mid</th>
		<th>Card Kingdom</th>
		<th>Spread</th>
		
	</tr>
<% @cardHash.to_a[0..2].each do |x| 

%>
	<tr>
		
		<td><%=x[1]["name"] + ' (' + x[1]["set"] + ')'%></td>
		<% newVar = ""%>
		<td><%=x[1]["price"]%></td>
		<%get_ck_prices(x)%>
		<td><%=@results[0].to_f%></td>
		
		<td><%=number_to_percentage( (1-(@results[0].to_f/x[1]["price"].to_f))*100, precision:0) %></td>
		
	</tr>
	<%#get_ck_prices(card)%>
	<%#@results[0]%>




<% end %>
</table>

