
<table border="1">
	<tr>
		<th>Card</th>

		<th>TCG Mid</th>
		<th>Card Kingdom</th>
		<th>Spread</th>
		
	</tr>
<% 
num = @results.length

		@results.each do |x| 
			foilTxt = ""
			if x['isFoil'] 
				foilTxt = " - FOIL "
			end

%>
		<tr>
		
				<td><%=x['name'] + foilTxt + ' ('+ x['set'] + ')' %> </td>
				<td><%=x["tcgPrice"]%></td>
				
				<td><%=x["ckPrice"]%></td>
				
				<td><%= x["spread"] %></td>
		
		</tr>
		<%
	end
		

		%>
	<%#get_ck_prices(card)%>
	<%#@results[0]%>




</table>

